<h1>Welcome, <%= @user.first_name %>!</h1>

<%= link_to "New Trip", new_user_journey_path %>

<h2>Your recent trips:</h2>
<ul>
<% @journeys.each do |j| %>
  <li><%= link_to j.destination, j %></li>
<% end %>
</ul>
