<h1>Trip Details</h1>

<p>From: <%= @journey.pickup_location %></p>
<p>To: <%= @journey.destination %></p>
<p>Date: <%= @journey.pickup_time %></p>
<p>Passenger(s): <%= @journey.num_of_passengers %></p>